@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* mobile */
@media (max-width: 1024px){
    body{
    background-color: #4c7d59;
    margin: 0pc;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-shadow:black 0px 0px 0.5vw;
    }
    #computador{
        display: none;
    }
    #texto1{
        width: 60vw;
        font-size: 4vh;
        position: absolute;
        top: 20vh;
        left:10vw;
        margin: 0pc;
        color:#ffefca ;
    }
    #subtitulo1{
        width: 80vw;
        position: absolute;
        top: 30vh;
        left: 10vw;
        font-size: 3vh;
        margin: 0px;
        color: white;
    }
    #bolinhas{
        margin: 0pc;
        display: flex;
        flex-direction: row;
        margin-top: 72vh;
        margin-left: 5vw;
    }
    .bolinha{
        box-shadow: black 0pc 2px 1vw;
        margin-left: 5vw;
        width: 4vw;
        height:4vw;
        background-color: transparent;
        border: 0.50vw white solid;
        border-radius: 100%;
    }
    .bolinha:hover{
        background-color: white;
        cursor: pointer;

    }
    #bola11{
        background-color: white;
    }
    #logo{
        width: 12vw;
        height: 12vw;

    }
    #cima{
        display: flex;
        flex-direction: row;
        font-size: 2.5vw;
        color: white;
        margin: 0pc;
    }
    .log,#logo_cima{
        margin: auto;
        color: white;
        text-decoration: none;
    }
    .log:hover{
        text-decoration:underline;
    }

}
/* computador */
@media (min-width: 1025px){
    body{
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        margin: 0px;
        border: none;
    }
    /* barra de cima */
    #mobile{
        display: none;
    }
    #barra_de_cima{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 6vh;
        background-color: white;
        text-align: center;
        margin: auto;
        position: fixed;
        top: 0px;
        color: black;
    }
    .guia{
        text-align: center;
        font-size: 1vw;
        margin: auto;
        text-decoration: none;
        color: black;
    }
    .guia:hover{
        color: #008205;
        text-decoration:underline;
        transition: color 0.3s;
    }
    #logo{
        margin-left: 60vw;
    }

    /* parte de baixo */
    #imagem{
        width: 30vw;
        height: 30vw;
        object-fit:cover;
        position: absolute;
        top: 15vh;
        left: 4vw;
    }
    #texto2{
        color: #245a1e;
        font-size: 3vw;
        position: absolute;
        top: 25vh;
        left: 40vw;
    }
    #subtitulo2{
        width: 55vw;
        font-size: 2vw;
        position: absolute;
        top: 34vh;
        left: 40vw;
        color: #424242;
        white-space: normal;
    }
    .bolinha{
        width: 1.2vw;
        height: 1.2vw;
        background-color: transparent;
        border-radius: 100%;
        margin: 0pc;
        margin-left: 1vw;
        border: 0.28vw #245a1e solid;
        transition: background-color 0.2s;
    }
    .bolinha:hover{
        cursor: pointer;
    }
    #bola12{
        background-color: #245a1e;
    }
    #bolinhas{
        margin: 0pc;
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 67vh;
        left: 40vw;
    }

}