#galeria{
    position: absolute;
    top: 20vh;
    left: 60vw;
    width: 5vw;
    height: 5vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2vh;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 2vw;
} 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#barra_de_cima{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 6vh;
    background-color: transparent;
    text-align: center;
    margin: auto;
    position: fixed;
    top: 0px;
    color: black;
}
.guia{
    text-align: center;
    font-size: 1vw;
    margin: auto;
    text-decoration: none;
    color: white;
}
.guia:hover{
    color: #008205;
    text-decoration:underline;
    transition: color 0.3s;
}
#logo{
    margin-left: 60vw;
}



*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body{
    overflow: hidden;
    border: none;
    margin: 0pc;
    height: 100vh;
    background-image: url('imgs/fundo_problemas.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


#painel_grupo{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.613);
    top: 0px;
    left: 0px;
    width: 40vw;
    height: 100vh;

}
#grupo{
    position: absolute;
    color: white;
    top: 15vh;
    left: 4vw;
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: bold;
}
#nomes{
    width: 15vw;
    position: absolute;
    top: 35vh;
    left: 4vw;
    font-size: 1vw;
    color: white;
}
#objetivo{
    position: absolute;
    top: 50vh;
    left:4vw;
    font-size: 1.4vw;
    color: white;
    font-weight: bold;
}
#txt{
    position: absolute;
    top: 53vh;
    left: 4vw;
    width: 30vw;
    color: rgba(255, 255, 255, 0.953);
    font-size: 1.3vw;
}
#titulo{
    position: absolute;
    top: 13vh;
    left: 69.4vw;
    color: white;
    font-size: 1.5vw;
    text-transform: uppercase;

}
#galeria{
    position: absolute;
    top: 20vh;
    left: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2vh;
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 1vh;
} 
.img{
    width:8vw ;
    height: 8vw;
    object-fit: cover;
    border-radius: 1vw;
}
#img_grupo{
    width: 15vw;
    height: 10vw;
    background-color: wheat;
    position: absolute;
    top: 70vh;
    left: 74vw;
    border-radius: 1vh;
    object-fit: cover;
    box-shadow: 0pc 0pc 1vh black;
}
#passar{
    position: absolute;
    top: 65vh;
    left: 90vw;
    font-size: 5vw;
    color: rgba(255, 255, 255, 0.678);
}
#numero{
    position: absolute;
    top: 65vh;
    left: 70vw;
    font-size: 5vw;
    color: rgba(255, 255, 255, 0.678);
}