@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    animation: inicio 0.5s;
}
@keyframes inicio {
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}
/* mobile */
@media (max-width: 1024px){
    body{
        border: none;
        margin: 0px;
    }
    #barra_de_cima{
        position: fixed;
        width: 100vw;
        height:10vh;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        box-shadow: 0px 0px 1vh black;
        text-align: center;
    }
    #logo{
        margin-left: auto;
        margin-right: 2vw;
        width: 6vw;
        height: 6vw;
    }
 
    .guia,#logo{
        font-size: 2.5vw;
        margin: auto;
        margin-left: 1vh;
        text-decoration: none;
        color: black;
    }
    #fundo{
        margin-top: 15vh;
        margin-left: 25vw;
        width: 50vw;
        height: 50vw;
    }
    #centro{
        width: 90vw;
        height: auto;
        text-align: left;
        padding: 5vh 2vw;
        display: flex;
        flex-direction: column;
        gap: 2vh;
        margin: auto;
        margin-bottom: 0pc;
    }
    #titulo1,#titulo2{
        color: #245a1e;
        margin-bottom: 0px;
        text-transform: uppercase;
        font-weight: bold;
    }
    ::-webkit-scrollbar {
        width: 1vw;
        background-color: transparent;
    }
    
    ::-webkit-scrollbar-track {
        border-radius: 1vw;
    }
    
    ::-webkit-scrollbar-thumb {
        background: #4CAF50;
        border-radius: 1vw;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: #388E3C;
    }
    
}


/* computador */
@media (min-width: 1025px){
    #mobile{
        display: none;
    }
    body{
        background-color: white;
        border: none;
        margin: 0px;
        cursor: default;
    }
   
    /* BARRA DE CIMA */
    #barra_de_cima{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 6vh;
        background-color: white;
        text-align: center;
        margin: auto;
        position: fixed;
        top: 0px;
        color: black;
    }
    .guia{
        text-align: center;
        font-size: 1vw;
        margin: auto;
        text-decoration: none;
        color: black;
    }
    .guia:hover{
        color: #008205;
        text-decoration:underline;
        transition: color 0.3s;
    }
    #logo{
        margin-left: 60vw;

    }
    #fundo{
        width: 30vw;
        height: 30vw;
        object-fit: cover;
        position: absolute;
        top: 15vh;
        left: 10vw;
    }
    #titulo1{
        font-size: 2vw;
        position: absolute;
        top: 42vh;
        left: 45vw;
        color: #245a1e;
        text-transform: uppercase;
        font-weight: bold;
        
    }
    #subtitulo1{
        width: 40vw;
        font-size: 1.2vw;
        position: absolute;
        position: absolute;
        top: 49vh;
        left: 45vw;
    }
    #titulo2{
        font-size: 2vw;
        position: absolute;
        top: 10vh;
        left: 45vw;
        color: #245a1e;
        text-transform: uppercase;
        font-weight: bold;
    }
    #subtitulo2{
        width: 40vw;
        font-size: 1.2vw;
        position: absolute;
        top: 17vh;
        left: 45vw;
    }
}