@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* celular */
*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    animation: inicio 0.5s;
}
@keyframes inicio {
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}
/* tablete */
@media screen and (max-width: 1024px){
}
/* celular */
@media screen and (max-width:480px){
    body{
        height: 100vh;
        width: 100vw;
        margin: 0px;
        border: none;
        background-image: url('imgs/fundo_problemas.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        overflow: hidden;
    }
    #barra_de_cima{
        position: fixed;
        top: 0px;
        width: 100vw;
        height:10vh;
        display: flex;
        flex-direction: row;
        background-color: #01010132;
        box-shadow: 0px 0px 1vh black;
        text-align: center;
    }
    #logo{
        margin-left: auto;
        margin-right: 1vw;
        width: 6vw;
        height: 6vw;
    }
 
    .guia,#logo{
        font-size: 2.5vw;
        margin: auto;
        margin-left: 0.4vh;
        text-decoration: none;
        color: white;
    }
    #fundo{
        background-color: rgba(0, 0, 0, 0.318);
        position: absolute;
        width: 100vw;
        height: 100vh;
        top: 0px;
        }
    #caixa{
        position: absolute;
        top: 15vh;
        display: flex;
        flex-direction: column;
    }
    #titulo{
        text-transform: uppercase;
        width: 50vw;
        margin-left: 5vw;
        font-weight: bold;
        font-size: 7vw;
    }
    #texto{
        width: 90vw;
        margin-left: 5vw;
        font-size: 4vw;
    }
}
/* computador */
@media screen and (min-width:1025px) {
    #barra_de_cima{
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 6vh;
        text-align: center;
        margin: auto;
        position: fixed;
        top: 0px;
        color: white;

    }
    .guia{
        text-align: center;
        font-size: 1vw;
        margin: auto;
        text-decoration: none;
        color: white;
    }
    .guia:hover{
        color: #008205;
        text-decoration:underline;
        transition: color 0.3s;
    }
    #logo{
        margin-left: 60vw;
    }


    body{
        margin: 0px;
        border: none;
        height: 95vh;
        background-image: url('imgs/fundo_problemas.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    #caixa{
        width: 50vw;
        height: 100vh;
        position: absolute;
        right: 0pc;
        background-color: rgba(0, 0, 0, 0.601);
        text-align: center;
    }
    #titulo{
        text-align: left;
        margin: auto;
        width: 40vw;
        text-transform: uppercase;
        color: white;
        font-size: 7vh;
        margin-top: 15vh;
        font-weight: bold;
        animation: inicio 2s;
    }
    #texto{
        width: 40vw;
        font-size: 2vh;
        color: white;
        margin: auto;
        margin-top: 10vh;
        text-align: left;
        animation: inicio 2s;
    }
    #bt{
        display: none;
        font-size: 2.5vh;
        margin: auto;
        width: 20vw;
        height:7vh;
        background-color: #006403;
        color: white;
        text-align: left;
        margin-top: 10vh;
        margin-right: 24vw;
        border-radius: 1vh;
        padding: 1vh;
        text-transform: uppercase;
        cursor: pointer;
        animation: inicio 2s;
    }
    #bt:active{
        background-color: #004702e4;
        color: rgba(255, 255, 255, 0.819);
    }
}